.bgimg2{
	background-image: url('https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30436.jpg?size=626&ext=jpg&ga=GA1.1.1444119140.1671213698&semt=ais');
	background-size: cover;
	
}

.heading{
	color: white;
	font-weight: bold;
	font-size: 35px;
	padding: 25px;
	
}

.layoutcard2{
	background-color: cyan;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 20px;
	margin: 18px;
}

.brandhead{
	color: darkblue;
	font-weight: bold;
	font-size: 30px;
}

.brandpara{
	color: black;
	font-size: 15px;
	margin-right: 5%;
	font-style: italic;
	font-weight: bold;
}

.brandimg{
	width: 120px;
	height: 120px;
}